h1 {
  font-size: 72px;
  font-family: 'Abril Fatface';
  text-shadow: 10px 5px 3px rgb(192, 182, 182);
  color: #ed786a;
  font-weight: 500;
}

h2{
  font-weight: normal;
}
blockquote{
  font-size: 45px;
}
#header {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 2em;
  line-height: 10px;
  padding-bottom: 80px;
  }
.header-container {
  text-align: center;
  width: 88%;
  margin-bottom: 50px;
  
}
.SpecialLine
{
    border-top: 1px solid #888888;
    height: 2px;
    width: 80%;
    border-bottom: 1px solid #888888;
}

#formTitle{
  text-align: center;
}

#features {
  text-align: center;
  margin-bottom: 70px;
}
.images-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.img {
  height : 15vw;
}
.caption {
  font-size: 1.5vw; 
}

.button {
  margin-top: 50px;
  width: 150px;
  height: 30px;
  color: whitesmoke;
  background-color: #ed786a;
  border-radius: 4px;
}

#main{
  display: grid;
  width: 100vw;
  height: 100vw;
  grid-template-columns: 1fr 2fr 2fr 1.5fr;
  grid-template-rows: 1fr 2fr 1fr 2fr;
  grid-gap: 1rem;
  grid-template-areas:
      "content-1 content-1 content-1 content-1"
      "content-2 content-2 content-2 sidebar"
      "content-3 content-3 content-3 sidebar"
      "footer footer footer footer"
}

.content-1 {
  grid-area: content-1;
  text-align: center;
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
  background-image: linear-gradient(to right, #5d6164, rgb(153, 149, 149),  #5d6164); 
  color: whitesmoke;
}

.content-2{
  grid-area: content-2;
  border-bottom: double skyblue;
  grid-column: 2/4
}

.content-3 {
  grid-area: content-3;
  grid-column: 2/4
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: sidebar;
  grid-row: 2/5;
  height: 100%;
}


b {
  font-weight: bold;

}
.footer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 5px 10px;
  grid-area: footer;
  background-color: rgb(164, 175, 171);

}
.messageBox{
  height : 150px;
  width: 400px;
  margin-top: 10px;
  overflow: hidden;
}

.contact{
  display: flex;
}
.formInfo{
  display: flex;
  align-items: space-between;
}

.wholeForm{
  width: 80%;
}

form{
  margin-right:50px;
}

.formText{
  display:flex;
  flex-direction: column;

}
ul{
  text-align: left;
}

#contactInfo1{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  
}

.content-image {
  width: 500px;
}